html,
body,
#__nuxt,
#__layout,
#__layout > section {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  background-color: $color-primary;
}

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  color: $color-white;
  font-family: 'Special Elite', cursive, Arial, Helvetica, sans-serif;
  font-weight: lighter;

  margin: 0;
  padding: 0;
}

body {
  &.navOpen {
    overflow-y: hidden;
    
    .main-wrapper {
      
    }
  }
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}
